﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="text-center">
        <h2>Welcome to ZxFccVotingApp.</h2>
        <p>Start searching for a poll by keyword or its shortlink.</p>
        <p>If you have an account, login to manage your polls.</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search via keywords or shortlink"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary col-xs-12 no-float">Search</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
